* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #fefae0;
  color: #3a3a3a;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14vmin;
  background: linear-gradient(180deg, #3a5a40, #dad7cd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 4vmin;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  background-color: #e9edc9;
  border-radius: 2vmin;
  font-size: 10vmin;
  color: #3a5a40;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
  animation: opac 1s ease-in-out;
}

@keyframes opac {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 2vmin;
    opacity: 1;
  }
}

.box:hover {
  background-color: #ccd5ae;
}

.scrub {
  animation: scrubOut 1s ease-in-out;
}

@keyframes scrubOut {
  0% {
    transform: scale(1);
    border-radius: 2vmin;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
    border-radius: 50%;
  }
  50% {
    opacity: 0;
    transform: scale(0);
    border-radius: 50%;
  }
}

.reset {
  height: 60px;
  width: 300px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  background-color:#3a5a40;
  color: #fefae0;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transform: translate(-50%);
  transition: all 0.5s ease-in;
  margin-top: 5px;
}

.reset:hover {
  transform: scale(1.07) translate(-45%);
  box-shadow: 0 8px 16px rgba(232, 204, 50, 0.2);
  background: linear-gradient(90deg, #3a5a40, #dad7cd);
  color:#fcec86;
}

.win {
  animation: winner-bounce 1s ease;
}

@keyframes winner-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.msg {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 5vmin;
  background: linear-gradient(180deg, #f12711, #f5af19);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1vmin;
}

.winBox {
  background-color: #ebee12 !important;
}

@media (max-width: 480px) {
  h1 {
    margin-top: 10%;
  }

  .msg {
    margin-top: 20%;
    font-size: 8vmin;
  }

  .container {
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .reset {
    width: 65%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    border-radius: 18px;
    bottom: 12vmin;
  }

  reset:hover {
    transform: scale(1.001) translate(-45%);
    background: linear-gradient(60deg, #3a5a40, #dad7cd);
  }
}
